#nightMode{
    background-color: #353535!important;
    min-height: 40px!important;
    z-index: 999999!important;
    position: fixed!important;
    top: 0;
    left: 0px!important;
    width: 100%!important;
    height: 50px!important;
    margin-bottom:50px;
    color:white;
    padding-left:25px;


}

.night-button{
    height:90% !important;
    margin-top:2px !important;
    margin-bottom:2px !important;
    padding-left:20px !important;
    padding-right:20px !important;
    padding-top:5px!important;
    padding-bottom:5px!important;
    background-color:#0B7FDB!important;
    color:white!important;
    font-size:12px !important;
}

.button{
    z-index: 100000000 !important;
}

.night-element{
    margin-left:15px !important;
    margin-right:15px !important;
}