#nightMode{
    background-color: #353535!important;
    min-height: 40px!important;
    z-index: 999999!important;
    position: fixed!important;
    top: 0;
    left: 0px!important;
    width: 100%!important;
    height: 40px!important;
    margin-bottom:40px;
    color:white;
    padding-left:25px;
    padding-top:10px;


}

input[type=number]{
    width: 50px;
} 


.night-button{
    margin-top:2px !important;
    margin-bottom:2px !important;
    padding-left:10px !important;
    padding-right:10px !important;
    background-color:#0B7FDB!important;
    color:white!important;
    font-size:12px !important;
    border-radius: 5px;
}

.button{
    z-index: 100000000 !important;
}

.night-element{
    margin-left:15px !important;
    margin-right:15px !important;
    margin-top: auto;
    margin-bottom auto;
}